# AI provider: Possible Options ["ollama", "deepseek"]
ai_provider = "ollama"

ollama_url = "http://0.0.0.0:11434" # Leave empty if you use Deepseek
ollama_model = "qwen2.5-coder:7b"   # You can pick any available on your PC

deepseek_url = "https://api.deepseek.com/chat/completionss"
deepseek_model = "deepseek-flash"
deepseek_api_key = ""

embedding_model = "bge-m3" # Model used to embed the files. For now use Local Ollama Models
embedding_dim = 1024
embedding_batch_size=16
embedding_provider="ollama"

# STORAGE PROVIDER
db_provider = "sqlite"  # For now its only sqlite

# SQLite options
db_path = "./data/vector_store.db" 
uploads_dir="./data/uploads"