# AI provider: Possible Options ["ollama", "deepseek"]
AI_PROVIDER = "ollama"

OLLAMA_URL = "" # Leave empty if you use Deepseek
OLLAMA_MODEL = "qwen2.5-coder:7b"   # You can pick any available on your PC

DEEPSEEK_URL = ""
DEEPSEEK_MODEL = ""


EMBEDING_MODEL = "nomic-embed-text:latest" # Model used to embed the files. For now use Local Ollama Models

# STORAGE PROVIDER
DB_PROVIDER = "sqlite"  # For now its only sqlite